:root {
    --background-color: #1d2a35;
    --code-box-background-color: #38444d;
    --code-box-background-color-hover: #3c3c3c;
    --code-background-color: rgb(25, 38, 51);
    --callout-background-color: #757533fa;
    --callout-border-color: orange;
    --text-color: #ddd;
    --text-color-hover: #7d7c7c;
    --button-text-color: white;

    text-rendering: optimizeLegibility;
} 

body {
    font-family: Helvetica, serif;
    font-size: 1.2em;
    color: var(--text-color);
    background-color: var(--background-color);
}

body::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
}

h1 {
    border-bottom: 4px solid rgba(255, 255, 255, 0.87);
    text-align: center;
    width: 50vw;
}

h2 {
    border-bottom: 2px solid var(--text-color);
    width: 20vw;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--text-color-hover);
    border-bottom: 2px solid var(--text-color-hover);
}

p {
    text-align: justify;
}

ul {
    list-style-type: circle;
}

button {
    font-size: 0.9em;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--button-text-color);
    cursor: pointer;
    transition: 0.5s;
    margin-top: -1vh;
    margin-bottom: -1vh;
    margin-left: -0.5vh;
    margin-right: -0.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border-radius: 5px;
}

button:hover {
    box-shadow: 10px 10px 30px rgba(27, 27, 27, 0.7);
}

button:active {
    box-shadow: none;
    transition: 0s;
}

section {
    width: 60vw;
}

.code-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1vh;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;

    box-shadow: 10px 10px 30px rgba(27, 27, 27, 0.5);
    border-radius: 5px;
    border-radius: 5px;

    color: var(--text-color);
    background-color: var(--code-box-background-color);
    width: 60vw;
    transition: background-color 0.5s;
}

.code-box:hover {
    background-color: var(--code-box-background-color-hover);
}

.code-wrappper {
    background-color: var(--code-background-color);
    padding: 8px;
    z-index: 1;
}

.code-paragraph {
    -webkit-user-select: all;
    user-select: all;
    margin: 0;
    padding: 2px;
    background-color: var(--code-background-color);
}

/* Googles code styling library */
.prettyprint {
    -webkit-user-select: all;
    user-select: all;
    margin: 0;
    padding: 0;
}

/* */
.callout {
    padding: 5px;
    margin: 5px;
    border-left: thick solid var(--callout-border-color);
    background-color: var(--callout-background-color);
    width: 60vw;
}

@media only screen and (max-width: 900px) {
    section {
        width: 95%
    }

    .callout {
        width: 95%;
    }

    .code-wrappper {
        width: 95%;
    }
}
