@font-face {
    font-family: 'SpaceMono';
    src: url(font/SpaceMono-Regular.eot);
    src: url(font/SpaceMono-Regular.woff) format('woff'), url(font/SpaceMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'DistantGalaxy';
    src: url('font/DistantGalaxy-Alternate.woff2') format('woff2'), url('font/DistantGalaxy-Alternate.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #5a5a5a;
    --secondary: #fefefe;
}

body {
    font-family: "SpaceMono", monospace;
    font-size: large;
    color: var(--primary);
    background-color: var(--secondary);
    margin: 5% 20% 5% 20%;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    gap: 60px;
    width: 100%;
}

nav > a {
    background: #f2f6f7;
    background: linear-gradient(115deg, rgba(210, 210, 255, 1) 38%, rgba(110, 110, 255, 1) 100%);
    border-radius: 20px;
    padding: 3px;
    text-align: center;
    color: var(--primary);
    font-size: 20px;
    font-weight: 900;
    text-transform: lowercase;
}

h1, h2 {
    font-family: "DistantGalaxy", 'Times New Roman', Times, serif;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: 900;
}

p {
    text-align: justify;
}

a {
    color: var(--primary);
}

ul {
    list-style-type: disclosure-closed;
}

.container {
    position: relative;
}

.container {
    background-color: #eee;
    padding: 8px;
    border-radius: 12px;
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.container > button {
    color: pink;
    border: none;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 4px;
}

.container > button:hover {
    scale: 1.1;
    transition-duration: 0.4s;
    transition-property: scale;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 8px;
    background-color: #efbfbf;
    border-radius: 12px 0 12px 0;
}

@media screen and (max-width: 900px) {
    body {
        margin: 5%;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 20px;
    }
    
    nav > div {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
}

@media screen and (max-width: 300px) {
    body {
        font-size: 24px;
        margin: 4px;
    }
    
    nav > div {
            grid-template: repeat(4, 1fr) / repeat(1, 1fr);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #fefefe;
        --secondary: #5a5a5a;
        --accent: #9f9f9f;
    }

    nav {
        background-color: #464646;
    }

    blockquote {
        background-color: #af4b5b;
    }
}
